// Functional colors
$color-info: #1890ff;
$color-success: #53c41a;
$color-warning: #fbad15;
$color-error: #f5212d;

$color-1: #eee6ff;
$color-2: #cfbaff;
$color-3: #af91ff;
$color-4: #8c69ff;
$color-5: #6640ff;
$color-6: #3f18ff;
$color-7: #2409d9;
$color-8: #1200b3;
$color-9: #09008c;
$color-10: #030066;